<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PassGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PassGen.Properties.Settings>
            <setting name="Keyboards" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Universal</string>
                        <string>CZ</string>
                        <string>DA</string>
                        <string>DE</string>
                        <string>HU</string>
                        <string>US</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="KeyboardSpecialCharacters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>!?.,:;_-+=*/"'%()</string>
                        <string>˚;+ĚěŠšČčŘřŽžÝýÁáÍíÉé%=ˇ´'"/Úú()¨Ůů!§?,:._-*+</string>
                        <string>§½!"@#£¤$%&amp;/{([)]=}?+`´|€åÅ^¨~æÆøØ*'&lt;&gt;\μ;,:._-</string>
                        <string>°^!"²§³$%&amp;/{([)]=}?ß\`´@€Üü*+~ÖöÄä'#&lt;&gt;|μ;,:._-</string>
                        <string>§'"+!%/=()ÖöÜüÓó\|€Őő÷Úú×[]Éé$ÁáŰűÍí&lt;&gt;#&amp;@{}?,;:._-*</string>
                        <string>`~!@#$%^&amp;*()-_=+[{]}\|;:'",&lt;.&gt;/?</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Letters" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyz</value>
            </setting>
            <setting name="Capitals" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</value>
            </setting>
            <setting name="Numerals" serializeAs="String">
                <value>0123456789</value>
            </setting>
            <setting name="SafeNumerals" serializeAs="String">
                <value>23456789</value>
            </setting>
            <setting name="LengthTestString" serializeAs="String">
                <value>0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789</value>
            </setting>
            <setting name="NumberNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>thousand</string>
                        <string>million</string>
                        <string>billion</string>
                        <string>trillion</string>
                        <string>quadrillion</string>
                        <string>quintillion</string>
                        <string>sextillion</string>
                        <string>septillion</string>
                        <string>octillion</string>
                        <string>nonillion</string>
                        <string>decillion</string>
                        <string>undecillion</string>
                        <string>duodecillion</string>
                        <string>tredecillion</string>
                        <string>quattuordecillion</string>
                        <string>quindecillion</string>
                        <string>sexdecillion</string>
                        <string>septendecillion</string>
                        <string>octodecillion</string>
                        <string>novemdecillion</string>
                        <string>vigintillion</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ZeroName" serializeAs="String">
                <value>zero</value>
            </setting>
            <setting name="InifinityName" serializeAs="String">
                <value>an unfathomable number (more than I care to compute) of</value>
            </setting>
            <setting name="PowerFormat" serializeAs="String">
                <value> (ten to the power of {0:D})</value>
            </setting>
            <setting name="NumberFormat" serializeAs="String">
                <value>{0,3:F} </value>
            </setting>
            <setting name="SmallNumberFormat" serializeAs="String">
                <value>###,###</value>
            </setting>
            <setting name="chkNumbersStart" serializeAs="String">
                <value>Numbers </value>
            </setting>
            <setting name="NumeralsName" serializeAs="String">
                <value>0-9</value>
            </setting>
            <setting name="SafeNumeralsName" serializeAs="String">
                <value>2-9</value>
            </setting>
            <setting name="txtPasswordTooltipFormat" serializeAs="String">
                <value>This password is one of {0} possible combinations.</value>
            </setting>
            <setting name="lblPasswordCharCountFormat" serializeAs="String">
                <value>{0,3:D} Characters</value>
            </setting>
            <setting name="lblStatusStart" serializeAs="String">
                <value>Clipboard: </value>
            </setting>
            <setting name="lblPasswordCharCountTooltip" serializeAs="String">
                <value>The number of password characters generated.</value>
            </setting>
            <setting name="chkSpecificText" serializeAs="String">
                <value>Specific: </value>
            </setting>
            <setting name="chkSpecificTooltip" serializeAs="String">
                <value>Specify a specific set of special characters to allow.</value>
            </setting>
            <setting name="chkSpecialCharsText" serializeAs="String">
                <value>Special Characters</value>
            </setting>
            <setting name="chkSpecialCharsTooltip" serializeAs="String">
                <value>Allow passwords to contain other special characters.
Default is a universal set found in most keyboard layouts.</value>
            </setting>
            <setting name="chkSpacesText" serializeAs="String">
                <value>Spaces</value>
            </setting>
            <setting name="chkSpacesTooltip" serializeAs="String">
                <value>Allow passwords to contain spaces.</value>
            </setting>
            <setting name="chkUppercaseText" serializeAs="String">
                <value>Uppercase</value>
            </setting>
            <setting name="chkUppercaseTooltip" serializeAs="String">
                <value>Allow passwords to contain uppercase characters.</value>
            </setting>
            <setting name="chkNumbersTooltip" serializeAs="String">
                <value>Allow passwords to contain numerals, including or excluding zero and one.</value>
            </setting>
            <setting name="trkLengthTooltip" serializeAs="String">
                <value>Move slider to change password length.</value>
            </setting>
            <setting name="btnGenerateText" serializeAs="String">
                <value>Generate</value>
            </setting>
            <setting name="btnGenerateTooltip" serializeAs="String">
                <value>Generate a different password.</value>
            </setting>
            <setting name="btnCopyText" serializeAs="String">
                <value>Copy</value>
            </setting>
            <setting name="btnCopyTooltip" serializeAs="String">
                <value>Copy current password to clipboard.</value>
            </setting>
            <setting name="btnGenerateCopyText" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="btnGenerateCopyTooltip" serializeAs="String">
                <value>Generate a new password and copy it to clipboard.</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Random Password Generator</value>
            </setting>
            <setting name="cboSpecificTooltip" serializeAs="String">
                <value>Select the special character set to allow.</value>
            </setting>
            <setting name="Whitespace" serializeAs="String">
                <value>" "</value>
            </setting>
        </PassGen.Properties.Settings>
    </applicationSettings>
</configuration>